.page-1 {
    /*background: url(../img/fon3.jpg) no-repeat center center;*/
    /*min-height:100%;*/
    /*background-size:cover;*/
    height: 100vh;
    /*background: linear-gradient(45deg, #424c67, #7e9ec4, #497a9a);*/
    background: linear-gradient(45deg, #C8C8C8, #2d3d4a);
    /*background: linear-gradient(45deg, #2d3d4a0f, #2d3d4a);*/
}


body {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin: 0;
}

header {


}

.nav {
    padding: 0 30px 0 0;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.link {
    margin: 30px;
    padding: 10px 15px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 9px;
    text-decoration: none;
    color: azure;
    /* При включенном transition на моем устройстве в Хроме наблюдается баг,
       мерцает текст не относящийся к объектам класса link,
       на других устройствах или в других браузерах такое не наблюдается */
    /*transition: .2s;*/
}

.link:visited {
    color: azure;
}

.nav a:hover {
    transform: scale(1.1)
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 10%;
}

.container-photo {
    display: block;
    background-color: azure;
    width: 400px;
    height: 550px;
}

.container-text {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    width: 600px;
    height: 550px;
    transform: none;
}

.photo {
    width: 350px;
    height: 370px;
    margin: 25px;
}

.my-name {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.name {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.my-prof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 23px auto 25px;
    font-size: 20px;
    width: 350px;
    height: 50px;
    background-color: lightgray;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 80px;
    color: azure;
    background-color: #383838;

    margin: 25px;
}

.for-me {
    color: azure;
    font-size: 20px;
    line-height: 1.5;
    margin: 25px;
    white-space: pre-wrap;
}


.for-skills {
    color: azure;
    line-height: 1.5;
    margin: 25px;
}

.btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: azure;
    color: azure;
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 50px;
    margin: 25px;
}

.btn_icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: 10px;
    fill: azure;
}

.page-2 {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items:center;*/
    position: relative;
    text-align: center;
    background-color: #E0E0E0;
    height: 100vh;
    width: 100%;
    padding: 40px 0 0 0;
}

.skills-icon {
    fill: #0007;
    width: 120px;
    height: 120px;
}

.full-width {
    width: 90vw;
}

.skills-list {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 3fr 16fr 1fr;

    transform: rotate(270deg);
    text-align: left;
    position: relative;

    height: 70vh;
    width: 45vw;
    margin: 0 auto 0 auto;
}

.skills-list div {
    display: flex;
    align-items: center;
}

.skills-list p {
    display: flex;
    align-items: center;
}

.line {
    position: absolute;
    bottom: 16vh;
    left: 5vw;
}

.container {
    width: 100%;
    background-color: #E0E0E0;
}

.skills {
    text-align: right;
    padding-top: 1px;
    padding-bottom: 0;
    color: black;
}

.proc {
    transform: rotate(90deg);
}

.python {
    width: 90%;
    background-color: #000;
}

.html {
    width: 80%;
    background-color: #000;
}

.js {
    width: 70%;
    background-color: #000;
    grid-template-columns: 3fr 14fr 1fr
}

.sport {
    width: 80%;
    background-color: #000;
}

.humor {
    width: 80%;
    background-color: #000;
}

