html {
    background: url(../img/fon3.jpg) no-repeat center center;
    min-height:100%;
    background-size:cover;

    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.7px;
}


body {
    margin: 0;
}

header {
    padding: 0 30px 0 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.nav a {
    margin: 30px;
    padding: 10px 15px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 9px;
    text-decoration: none;
    color: white;
    transition: transform .2s;
}

.nav a:visited {
    color: white;
}

.nav a:hover {
    transform: scale(1.1)
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.container-photo {
    display: block;
    background-color: azure;
    width: 400px;
    height: 550px;
}

.container-text {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    width: 600px;
    height: 550px;
}

.photo {
    width: 350px;
    height: 370px;
    margin: 25px;
}

.my-name {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.name {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.my-prof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 23px auto 25px;
    font-size: 20px;
    width: 350px;
    height: 50px;
    background-color: lightgray;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 80px;
    color: azure;
    background-color: #383838;

    margin: 25px;
}

.for-me {
    color: azure;
    font-size: 20px;
    line-height: 1.5;
    margin: 25px;

}

.for-skills {
    color: azure;
    line-height: 1.5;
    margin: 25px;
}

.btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: azure;
    color: azure;
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 50px;
    margin: 25px;
}
.svg {
    transform: scale(0.3);
    fill: azure;
}

.btn_icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: 10px;
    fill: azure;
}
